@model Employee.Management.dotnet3.ViewModels.HomeDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}
<h1>
    @Model.MyKeyTitle
</h1>
@{
    var emp = @Model.employee;
}
<div>Name: @emp.Name</div>
<div>Email: @Model.employee.Email</div>
<div>Department: @emp.Department</div>
@* till part 26 viewmodel *@