@model Employee.Management.dotnet3.ViewModels.HomeDetailsViewModel
@{
    ViewBag.Title = "Employee Details";
}
@* <script src="~/js/customscript.js"></script> *@
<h1>
    @Model.MyKeyTitle
</h1>
@{
    var emp = @Model.employee;
}
<div>Name: @emp.Name</div>
<div>Email: @Model.employee.Email</div>
<div>Department: @emp.Department</div>

@section Scripts {
    <script src="~/js/customscript.js"></script>
}